* {
  box-sizing: border-box;
}

/* LIGHT MODE (default) */
body {
  background: #f6f4f7;
  color: #2b2b33;
}

body.dark {
  background: #0f0f14;
  color: #e6e6eb;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  cursor:
    url("data:image/x-icon;base64,AAACAAEAICAQAAEAAQDoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAA////AFJjpQC1nP8AAMWEAO/e/wAAc0oAzr3/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARERERAAAAAAAAAAAAAAAREiIiIRAAAAAAAAAAAAABEiMzMzIRAAAAAAAAAAAAESMzMjMzIQAAAAAAAAAAABIzJ3d3IyEAAAAAAAAAAAESN3d3d3EhAAAAAAAAAAABYjZXJ3cREQAAAAAAAAAAAWJmV3dycSEAAAAAAAAAAAFmRld3d3chAAAAAAAAAAABZEZVVXFyEQAAAAAAAAAAARZGZmYREhAAAAAAAAAAAAEWRERmUSEQAAAAAAABEAABZmZGIiIRAAAAABERExEAABERZmYREAAAAAATMTcxAAAAAREREAAAAAAAE3N3MQAAAAAAAAAAAAAAABN3czEQAAAAAAAAAAAAAAATd3dzEAAAAAAAAAAAAAAAE3d3MRAAAAAAAAAAAAAAABN3cxEAAAAAAAAAAAAAAAATdzEQAAAAAAAAAAAAAAAAE3MRAAAAAAAAAAAAAAAAABMxEAAAAAAAAAAAAAAAAAAREQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///////////////////////////////////////+Af//+AD///AAf//gAH//4AB//8AAf//AAH//wAB//8AAf//AAH//wAD//8AA//PAAf4B4AP+AfwP/gH///4A///+AP///gD///4B///+A////gf///4P///+H/////////w==")
      4 4,
    auto;
}
